@model TicketManagement.WebClient.Models.EventLayoutViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
//int chousedlayoutid = 1;
//string cc = "";
}


<h2>Create event</h2>
<span>
    @Html.ActionLink("< Back to List", "Index", null, 
        new { @style = "font-size:medium", id="back-to-list-create-event" })
</span>
<hr />

<div class="row">
    <div class="col-lg-6">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", id = "valid-form-create-event" })
                <div class="form-group">
                    @Html.LabelFor(model => model.TMEvent.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TMEvent.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TMEvent.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TMEvent.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TMEvent.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TMEvent.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TMEvent.Img,
                   htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">

                        @Html.EditorFor(model => model.TMEvent.Img,
                       new { htmlAttributes = new { @class = "form-control", id = "event_img" } })
                        @Html.ValidationMessageFor(model => model.TMEvent.Img, "",
                       new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.TMEvent.TMLayoutId, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.TMEvent.TMLayoutId, Model.TMLayouts,
                            new { id = "layout_list" })
                    </div>
                    @Html.ValidationMessageFor(model => model.TMEvent.TMLayoutId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TMEvent.StartEvent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TMEvent.StartEvent, "{0:dd/MM/yyyy}",
                       new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                        @Html.ValidationMessageFor(model => model.TMEvent.StartEvent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.TMEvent.EndEvent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TMEvent.EndEvent, "{0:dd/MM/yyyy}",
                       new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                        @Html.ValidationMessageFor(model => model.TMEvent.EndEvent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" id="create-event-btn"/>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="col-lg-6">
        <h5>Image</h5>
        <div style="margin-left: 30px;">
            <img src="" alt="no img" id="event_img_view" height="100">
        </div>
        @*<div class="container">
            @Html.Action("LayoutMap", "VenueModels",
            new { idlayout = chousedlayoutid })
        </div>*@
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#event_img").on('input', function () {
                $("#event_img_view").attr("src", $(this).val());
            });
        });

    </script>
}






