@model TicketManagement.Domain.DTO.TMEventDto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>
<span>
    @Html.ActionLink("< Back to List", "Index", null, new { @style = "font-size:medium" })
</span>

<div class="col">
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-lg-3">
                <div class="container" style="max-width:270px; overflow:hidden; margin-left:-15px">
                    <img src="@Model.Img" alt="" height="300px">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="pull-right">
                    @Html.ActionLink("Set price", "Index", "TMEventAreaModels",
                           new { idEvent = Model.Id }, new { @class = "btn btn-sm btn-default" })
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-sm btn-danger" })
                </div>
                <p>
                    <span class="text-info">@Html.DisplayFor(modelItem => Model.StartEvent)</span> --

                    <span class="text-info">@Html.DisplayFor(modelItem => Model.EndEvent)</span>
                </p>
                <br />
                <p>
                    <span class="text-muted" style="font-size: medium; ">
                        in layout id @Html.DisplayFor(modelItem => Model.TMLayoutId)
                    </span>
                    <br />
                    <span class="text-capitalize" style="font-size:xx-large; ">
                        @Html.DisplayFor(modelItem => Model.Name)
                    </span>
                    <br />
                    <span class="text-muted" style="font-size: medium;">
                        @Html.DisplayFor(modelItem => Model.Description)
                    </span>
                </p>
                <div style="margin-top:20px;">
                    <span class="text-capitalize text-danger" style="font-size:medium; ">
                        Busy seats @Html.DisplayFor(modelItem => Model.BusySeats)
                        <br />
                        All seats @Html.DisplayFor(modelItem => Model.AllSeats)
                    </span>
                    <br />
                    <span class="text-success" style="font-size:medium; ">
                        MIDDLE PRISE BY SEAT @Html.DisplayFor(modelItem => Model.MiddlePriceBySeat) $
                    </span>
                    <p class="pull-right">
                        @Html.ActionLink("SHOUSE SEATS", "AreasMap", "TMEventAreaModels", 
                       new { idEvent = Model.Id }, 
                       new { @class = "btn btn-primary" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>








