@model TicketManagement.Web.Models.TMEventSeatIdViewModel

@{
    ViewBag.Title = "BuyTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Seats map</h3>

<p></p>
<span>
    @Html.ActionLink("< Back to List", "Index", "TMEventModels", null, new { @style = "font-size:medium" })
</span>

<div class="container col align-self-center">
    @Html.Action("AreasMap", Model.TMEventId)
</div>


<div class="container col align-self-center">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => Model.TMEventId)
        <div class="row">
            @Html.LabelFor(model => model.SeatsId, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.SeatsId, new { htmlAttributes = new { @class = "form-control myedit" } })
                <span class="text-muted">enter some like: 1,2,5</span>
            </div>
            <div class="form-group col-md-1">
                <input type="submit" value="Buy" class="btn btn-default" name="ActionRegister" id="tm-seats-buy-btn" />
            </div>
        </div>
    }
</div>

